.overLay {
  height: 100%;
  pointer-events: auto;
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.8);
  mix-blend-mode: darken;
}
.wrapper {
  height: 100%;
}
.spotlight {
  border-radius: 10px;
  overflow: hidden;
  position: absolute;
  background-color: #fff;
  opacity: 1;
  transition: opacity 0.2s ease 0s;
  pointer-events: auto;
}
.tooltipContainer {
  position: relative;
}
